<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title> {{ site.title }} </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="My Photo" />
        {% endif %}
        <p> <br> {{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

<!-- Hitsteps TRACKING CODE - Manual 2022-06-27 - DO NOT CHANGE -->
<script type="text/javascript">(function(){var hstc=document.createElement('script'); hstc.src='https://cdnhst.xyz/code?code=a85d24e51b3e4c1b7ebb2d870be2f136';hstc.async=true;var htssc = document.getElementsByTagName('script')[0];htssc.parentNode.insertBefore(hstc, htssc);})();
</script><noscript><a href="http://www.hitsteps.com/"><img src="//cdnhst.xyz/code?mode=img&amp;code=a85d24e51b3e4c1b7ebb2d870be2f136" alt="blog statistics" width="1" height="1" />web statistics</a></noscript>
<!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->

  </body>
</html>
